@page "/articles"

<h2>Article</h2>
<div class="mt-3">
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger">
            @error
        </div>
    }

    @if (currentArticle == null)
    {
        <ItemList TItem="Article"
                Model="listModel"
                OnAdd="AddArticle"
                OnEdit="EditArticle"
                OnDelete="DeleteArticle">
        </ItemList>
    }
    else
    {
        <ArticleForm 
                    Article="currentArticle"
                    AvailableCategories="availableCategories"
                    OnSave="SaveArticle"
                    OnCancel="RefreshArticles">
        </ArticleForm>
    }
</div>

