@inject IJSRuntime JSRuntime

<button class="btn btn-primary" @onclick="OnAdd">Add Category</button>
<table class="table mt-3">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td><button class="btn btn-warning" @onclick="e => OnEdit.InvokeAsync(item)">Edit</button></td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><button class="btn btn-danger" @onclick="e => OnShowDeleteModal(item)">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="deletecategorymodal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Category</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Do you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="e => OnConfirmDelete()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Category[] Items { get; set; }

    [Parameter]
    public EventCallback OnAdd { get; set; }

    [Parameter]
    public EventCallback<Category> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Category> OnDelete { get; set; }

    private Category categoryToDelete;

    private async Task OnShowDeleteModal(Category category)
    {
        this.categoryToDelete = category;
        await JSRuntime.InvokeVoidAsync("showConfirmDelete", "deletecategorymodal");
    }

    private async Task OnConfirmDelete()
    {
        await OnDelete.InvokeAsync(this.categoryToDelete);
        await JSRuntime.InvokeVoidAsync("hideConfirmDelete", "deletecategorymodal");
    }

}
