@inherits LayoutComponentBase

<PageTitle>Article Manager</PageTitle>

<div class="page">
    <MainMenu />
    <main>
        <article class="content px-4 mt-2 mx-5">
            @Body
        </article>
    </main>
</div>
